<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu class="application-theme-color-white" side="left" >


    <ion-content class="application-theme-color">
      <ion-list>

        <ion-item menu-close class="sliding-menu-item-border height-8 application-theme-color-white">
          <div class="row height-4">
            <div class="advanzia-image image-size-3-50"> </div>
          </div>
        </ion-item>

        <!--<ion-item class="sliding-menu-item-border" menu-close href="#/app/my_card">

          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-mycard-image image-size-1-50"> </div>
            </div>
            <div class="col left" >My Card</div>
          </div>
        </ion-item>

        <ion-item class="sliding-menu-item-border" menu-close href="#/app/my_reports">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-myreports-image image-size-1-50"> </div>
            </div>
            <div class="col left" >My Reports</div>
          </div>
        </ion-item>

        <ion-item class="sliding-menu-item-border" menu-close href="#/app/my_transactions">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-mytransactions-image image-size-1-50"> </div>
            </div>
            <div class="col left" >My Transactions</div>
          </div>
        </ion-item>
-->

        <ion-item class="sliding-menu-item-border" menu-close href="#/app/home">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-home-image image-size-1-50"> </div>
            </div>
            <div class="col left" translate>xtan-text</div>
          </div>
        </ion-item>



        <ion-item class="sliding-menu-item-border" menu-close href="#/app/otp_tan">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-pushtan-image image-size-1-50"> </div>
            </div>
            <div class="col left" translate>otp-text</div>
          </div>
        </ion-item>


        <ion-item class="sliding-menu-item-border" menu-close href="#/app/push_tan">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="totp-image image-size-1-50"> </div>
            </div>
            <div class="col left" translate>push-text</div>
          </div>
        </ion-item>

        <ion-item class="sliding-menu-item-border" menu-close href="#/app/help">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-help-image image-size-1-50"> </div>
            </div>
            <div class="col left" translate>help-text</div>
          </div>
        </ion-item>

        <ion-item class="sliding-menu-item-border" menu-close href="#/app/about" >
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-about-image image-size-1-50"> </div>
            </div>
            <div class="col left" translate>about-text</div>
          </div>
        </ion-item>

        <ion-item class="sliding-menu-item-border" menu-close href="#/app/settings">
          <div class="row">
            <div class="col col-20 col-offset-20">
              <div class="menu-icon-settings-image image-size-1-50"> </div>
            </div>
            <div class="col left" translate>settings-text</div>
          </div>
        </ion-item>


      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
