<ion-view view-title={{verificationSuccessCtrl.title}}>
  <ion-content>

    <div class="row height-10 margin-top-40">
      <div class="image-size-10 center verified-image"></div>
    </div>

    <div class="row margin-top-20">
      <div class="col col-offset-10 col-80 center application-text-color-blue app-text-font">{{verificationSuccessCtrl.successfulMessage}}</div>
    </div>


    <div class="row margin-top-80">
      <div class="col col-offset-10 col-80">
        <div class="button button-main" ng-click="verificationSuccessCtrl.NextClick()" translate>next-text</div>
      </div>
    </div>
  </ion-content>
</ion-view>
